<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifpb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="recdata.Telas.TelaAbertura"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="recdata.Telas.TelaTipoUsuario"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="recdata.Telas.TelaLogin"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="recdata.Telas.TelaCadastraUsuario"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="recdata.Telas.TelaListaFuncionalidadesPersonalizada"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="recdata.Telas.TelaConsultar"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="recdata.servicos.BuscaItensServidor"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="recdata.Telas.TelaReservar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="recdata.Telas.TelaFeedback"
            android:label="@string/app_name" >
        </activity>
                
    </application>
    
</manifest>