html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}


a img {border:none}


aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}

/* --------------------------------- */

.container{
    width:980px;
   margin: 0 auto;

	background-color:transparent;
	padding-top: 20px;


}