body {
	font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
	font-size: 20px;
}

.welcome {
	text-align: justify;
	padding: 45px 50px 45px 50px;
}


#content {
	position: relative;
	top: 20%;
	margin-top: 5%;
	width: 930px;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	text-align: center;
}

#header {
	display: block;
	background: white;
	box-shadow: 0px 5px 5px #888888;
}

.menu ul {
	visibility: hidden;
	display: inline;
}

/*.menu.menu-open {
    visibility: visible;
    z-index: 2;
    width: 100%;
}*/
.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.menu>ul {
	position: relative;
}

.menu-open>ul {
	left: 0;
	top: 0;
	visibility: visible;
}

.menu-open>ul:focus {
	outline: 0;
}

.menu li {
	position: relative;
}

.menu a {
	display: block;
	color: inherit;
	line-height: 1.5em;
	padding: 5px 20px;
	text-decoration: none;
	white-space: nowrap;
}

.menu.menu-horizontal>.menu-heading {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0;
	vertical-align: middle;
}

.menu.menu-horizontal>ul {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	left: 90px;
}

.menu li a {
	font-family: Arial;
	font-size: 20px;
	padding: 45px 30px 45px 30px;
	text-decoration: none;
}

.menu-horizontal li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}

.menu-horizontal li li {
	display: block;
}

.menu li a:hover, .menu li a:focus {
	color: #8AC6D0;
}

.logo {
	background: -webkit-linear-gradient(top, #1F8DD6, #1F8DD6 15%, white 15%, white);
	position: absolute;
	background-color: white;
	margin-left: 5%;
	width: 220px;
	height: 190px;
	box-shadow: 0px 5px 5px #888888;
}

.logoIF {
	width: 120px;
	height: 100px;
	margin-left: 20%;
}

.logoLADOSS {
	width: 200px;
	height: 50px;
	margin-left: 2%;
}

.logoImg {
	width: 220px;
	height: 190px;
}

label {
	margin-top: 2%;
	position: relative;
}

form input {
	color: #666666;
	border: 1px solid #CCCCCC;
	border-left: 6px solid #CCCCCC;
	padding: 6px;
	margin: 5px 5 0 0;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

form input, form label, form select {
	padding: 0 auto;
	position: relative;
	margin-top: 3%;
}

form input, form select {
	margin-bottom: 5%;
}

.bt {
	padding: 0 auto;
	left: 50%;
	position: relative;
}

#footer {
	background-color: #F5F5F5;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.textFooter {
	text-align: justify;
	float: right;
	position: relative;
}